@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?msffyy');
  src:  url('../fonts/icomoon.eot?msffyy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?msffyy') format('truetype'),
    url('../fonts/icomoon.woff?msffyy') format('woff'),
    url('../fonts/icomoon.svg?msffyy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-o:before {
  content: "\e955";
}
.icon-contacts_fill:before {
  content: "\e914";
}
.icon-58:before {
  content: "\e900";
  color: #f00;
}
.icon-bike:before {
  content: "\e901";
  color: #f00;
}
.icon-borrow:before {
  content: "\e902";
  color: #f90;
}
.icon-card .path1:before {
  content: "\e903";
  color: rgb(140, 198, 63);
}
.icon-card .path2:before {
  content: "\e904";
  margin-left: -1.1591796875em;
  color: rgb(41, 171, 226);
}
.icon-card_mine:before {
  content: "\e905";
  color: #1296db;
}
.icon-cat .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-cat .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cat .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(228, 53, 42);
}
.icon-cat .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cat .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(228, 53, 42);
}
.icon-city_service:before {
  content: "\e90b";
}
.icon-collection .path1:before {
  content: "\e90c";
  color: rgb(234, 15, 47);
}
.icon-collection .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(12, 134, 234);
}
.icon-collection .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(227, 244, 6);
}
.icon-comment:before {
  content: "\e90f";
  color: #f3990f;
}
.icon-compass:before {
  content: "\e910";
}
.icon-compass_fill .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
}
.icon-compass_fill .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-contacts:before {
  content: "\e913";
}
.icon-credit_card:before {
  content: "\e915";
  color: #00923f;
}
.icon-didi:before {
  content: "\e916";
  color: #d9874b;
}
.icon-drifting:before {
  content: "\e917";
  color: #29abe2;
}
.icon-expression .path1:before {
  content: "\e918";
  color: rgb(255, 205, 0);
}
.icon-expression .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-expression .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-expression .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-friend .path1:before {
  content: "\e91c";
  color: rgb(250, 84, 82);
}
.icon-friend .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(100, 103, 240);
}
.icon-friend .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(82, 131, 240);
}
.icon-friend .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 177, 254);
}
.icon-friend .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(102, 208, 32);
}
.icon-friend .path6:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(154, 209, 34);
}
.icon-friend .path7:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 200, 23);
}
.icon-friend .path8:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 118, 18);
}
.icon-games .path1:before {
  content: "\e924";
  color: rgb(0, 113, 188);
}
.icon-games .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(251, 176, 59);
}
.icon-games .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 146, 69);
}
.icon-games .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.icon-group_chat .path1:before {
  content: "\e928";
  color: rgb(30, 187, 86);
}
.icon-group_chat .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-group_chat .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hotel:before {
  content: "\e92b";
  color: #0f0;
}
.icon-jd:before {
  content: "\e92c";
  color: #f00;
}
.icon-jie:before {
  content: "\e92d";
  color: #da251d;
}
.icon-live:before {
  content: "\e92e";
  color: #00923f;
}
.icon-look:before {
  content: "\e92f";
  color: #f4ea2a;
}
.icon-me:before {
  content: "\e930";
}
.icon-me_fill:before {
  content: "\e931";
}
.icon-mic:before {
  content: "\e932";
}
.icon-money:before {
  content: "\e933";
  color: #3468a5;
}
.icon-nearby:before {
  content: "\e934";
  color: #29abe2;
}
.icon-new_friend .path1:before {
  content: "\e935";
  color: rgb(255, 135, 0);
}
.icon-new_friend .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new_friend .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-news:before {
  content: "\e938";
}
.icon-news_fill:before {
  content: "\e939";
}
.icon-phone:before {
  content: "\e93a";
  color: #3468a5;
}
.icon-photos:before {
  content: "\e93b";
  color: #29abe2;
}
.icon-plus:before {
  content: "\e93c";
}
.icon-plus_circle:before {
  content: "\e93d";
}
.icon-program:before {
  content: "\e93e";
  color: #6467f0;
}
.icon-public .path1:before {
  content: "\e93f";
  color: rgb(75, 116, 219);
}
.icon-public .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-public .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-public .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(75, 116, 219);
}
.icon-QQ:before {
  content: "\e943";
}
.icon-qrcode:before {
  content: "\e944";
  color: #bfbfbf;
}
.icon-scan:before {
  content: "\e945";
  color: #29abe2;
}
.icon-search:before {
  content: "\e946";
  color: #ff2851;
}
.icon-sell:before {
  content: "\e947";
  color: #d9874b;
}
.icon-setting:before {
  content: "\e948";
  color: #29abe2;
}
.icon-shake:before {
  content: "\e949";
  color: #29abe2;
}
.icon-shopping .path1:before {
  content: "\e94a";
  color: rgb(255, 255, 255);
}
.icon-shopping .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.icon-shopping .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping .path4:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping .path5:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tag .path1:before {
  content: "\e94f";
  color: rgb(75, 116, 219);
}
.icon-tag .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tickets:before {
  content: "\e951";
  color: #0f0;
}
.icon-wallet:before {
  content: "\e952";
  color: #29abe2;
}
.icon-wei:before {
  content: "\e953";
}
.icon-welfare:before {
  content: "\e954";
  color: #da251d;
}
